@font-face {
    font-family: nonamegiven;
    src: url('../fonts/Inter-Regular.ttf');
}

body, html {
    margin: 0;
    height: 100%;
    width: 100%;
}

footer {
    height: 218px;
    width: 100%;
    color: white;
    background-color: red;

    text-align: center;
    justify-content: center;
}

footer a {
    text-align: center;

    padding: 16px 14px;

    display: block;
    float:left;

    text-align: center;
}


li {
    font-size: large;
    list-style: square;
}

nav {
    font-family: nonamegiven;

    color: white;

    position: sticky;
    background: rgba(255, 255, 255, 0.2);
    top: 100%;

    display: flex;

    justify-content: center;
}

nav a {
    text-rendering: auto;
    text-decoration: none;

    padding: 7px;
}

nav a:hover {
    transition: ease-in-out 0.1s;

    color: rgba(225, 225, 225, 0.2);
}

nav a:visited {
    color:white;
}

p {
    font-size:large;
}

.genius {
    text-decoration: overline;
}
