
@font-face {
    font-family: nonamegiven;
    src: url('../fonts/sansserif.ttf');
}

body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

footer {
    height: 218px;
    width: 100%;
    color: white;
    background-color: red;

    text-align: center;
    justify-content: center;
}

footer a {
    text-align: center;

    padding: 16px 14px;

    display: block;
    float:left;

    text-align: center;
}

#miiData {
    cursor: pointer;
}


li {
    font-size: large;
    list-style: square;
}

nav {
    font-family: nonamegiven;

    color: white;

    position: sticky;

    background: rgb(109, 71, 139);
    top: 0;

    display: flex;

    justify-content: space-around;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);

    z-index: 10;
}

nav a {
    text-rendering: auto;
    text-decoration: none;

    color:white;

    padding: 8px;
}

nav a:hover {
    transition: ease-in-out 0.1s;

    color: rgba(225, 225, 225, 0.2);
}

nav a:visited {
    color:white;
}

p {
    font-size:medium;
}

.genius {
    text-decoration: overline;
}

#dw {
    width: 45%;
    color: white;
}

#info {
    display: flex; 
    justify-content: center; 
    padding-bottom: 50px; 
    background: linear-gradient(50deg, rgb(68, 42, 107) 0%, rgba(43,35,50,1) 100%);
}

#description {
    width: 100%; 
    display: flex; 
    justify-content:space-around; 
    padding-top: 2%; 
    padding-bottom: 2%; 
    background: linear-gradient(50deg, rgb(43, 23, 75) 0%, rgba(43,35,50,1) 100%);
}

#projects {
    width: 100%;
    color: white;
    text-align: center;
    font-family: nonamegiven;

    height: 20%;

    background: linear-gradient(50deg, rgb(69, 51, 98) 0%, rgb(56, 28, 82) 100%);
}

#projects things {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
}

@keyframes conveyor {
    0% {
        transform: translate3d(0);
    }

    100% {
        transform: translate3d(calc(100% / -3), 0, 0);
    }
}

#projects h1 {
    font-family: Days One;
}

#projects things a {
    display: block;
    position: relative;
    width: 30%;
    height: 20%;

    padding: 2%;
    margin: 2px;

    text-align: center;

    justify-content: space-around;

    border-radius: 2%;
    background-color: rgba(128, 32, 128, 0.52);
    text-decoration: none;
    
    font-size: 100%;
}

#projects things a:hover {
    transition: ease-in-out 0.1s;

    background-color: rgba(101, 25, 101, 0.52);
}

#projects things a:visited {
    text-decoration: none;
    color: white;
}

#paragraph {
    font-family: nonamegiven;
}

@media only screen and (max-width: 600px) {
    #gif-wrapper {
        display: none;
    }

    #description {
        background-color: antiquewhite;

        display: flex;
        justify-content: center;
    }

    #dw {
        width: 80%;
        text-align: left;
    }

    #paragraph {
        display: block;
        width: 100%;
        text-align: left;
    }

    #pfp {
        width: fit-content;
    }

    #dw h1 {
        text-align: center;
    }

    #info small-description {
        display: none;
    }
}
