


@font-face {
    font-family: nonamegiven;
    src: url('../fonts/Inter-Regular.ttf');
}

body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

footer {
    height: 218px;
    width: 100%;
    color: white;
    background-color: red;

    text-align: center;
    justify-content: center;
}

footer a {
    text-align: center;

    padding: 16px 14px;

    display: block;
    float:left;

    text-align: center;
}

#miiData {
    cursor: pointer;
}


li {
    font-size: large;
    list-style: square;
}

nav {
    font-family: nonamegiven;

    color: white;

    position: sticky;
    background: rgba(255, 255, 255, 0.2);
    top: 100%;

    display: flex;

    justify-content: center;
}

nav a {
    text-rendering: auto;
    text-decoration: none;

    color:white;

    padding: 7px;
}

nav a:hover {
    transition: ease-in-out 0.1s;

    color: rgba(225, 225, 225, 0.2);
}

nav a:visited {
    color:white;
}

p {
    font-size:medium;
}

.genius {
    text-decoration: overline;
}

#dw {
    width: 45%;
    color: white; 
    font-family: nonamegiven;
}

#info {
    display: flex; 
    justify-content: center; 
    padding-bottom: 50px; 
    background: linear-gradient(50deg, rgb(68, 42, 107) 0%, rgba(43,35,50,1) 100%);
}

#description {
    width: 100%; 
    display: flex; 
    justify-content:space-around; 
    padding-top: 2%; 
    padding-bottom: 2%; 
    background: linear-gradient(50deg, rgb(43, 23, 75) 0%, rgba(43,35,50,1) 100%);
}


@media only screen and (max-width: 600px) {
    #gif-wrapper {
        display: none;
    }

    #description {
        background-color: antiquewhite;

        display: flex;
        justify-content: center;
    }

    #dw {
        width: 100%;
    }

    #paragraph {
        display: block;
        width: 100%;
        text-align: center;
    }

    #pfp {
        width: fit-content;
    }

    #dw h1 {
        text-align: center;
    }

    #info small-description {
        display: none;
    }
}
