::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(69, 69, 69);
}

::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: rgb(41, 41, 41);

    border-radius: 10px;
}


@font-face {
    font-family: nonamegiven;
    src: url('../fonts/Inter-Regular.ttf');
}

body, html {
    margin: 0;
    height: 100%;
    width: 100%;
}

footer {
    height: 218px;
    width: 100%;
    color: white;
    background-color: red;

    text-align: center;
    justify-content: center;
}

footer a {
    text-align: center;

    padding: 16px 14px;

    display: block;
    float:left;

    text-align: center;
}


li {
    font-size: large;
    list-style: square;
}

nav {
    font-family: nonamegiven;

    color: white;

    position: sticky;
    background: rgba(255, 255, 255, 0.2);
    top: 100%;

    display: flex;

    justify-content: center;
}

nav a {
    text-rendering: auto;
    text-decoration: none;

    padding: 7px;
}

nav a:hover {
    transition: ease-in-out 0.1s;

    color: rgba(225, 225, 225, 0.2);
}

nav a:visited {
    color:white;
}

p {
    font-size:medium;
}

.genius {
    text-decoration: overline;
}

#dw {
    width: 45%; 
    padding-left: 5%; 
    color: white; 
    font-family: nonamegiven;
}


@media only screen and (max-width: 600px) {
    #gif-wrapper {
        display: none;
    }

    #description {
        background-color: antiquewhite;

        display: flex;
    }

    #dw {
        transition: ease-in-out 0.1s;

        width: 100%;
    }

    #paragraph {
        display: block;
        width: 100%;
    }

    #pfp {
        width: 165px;
        height: 165px;

        margin-left: 3%;
        margin-right: 3%;
    }
}
